body {
}

.row {
    margin-bottom: 10px;
}

.input-to-upper {
    text-transform: uppercase;
}

.mandatory {
    border-left: 5px solid #a94442; /* red */
}

.mandatory-valid {
    border-left: 5px solid #42A948; /* green */
}

.form-group {
    margin-bottom: 0;
}

.alert {
    margin-top: 10px;
}

.well {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 5px;
}

label {
    text-align: right;
    margin-bottom: 0px;
}

@media print {
    .print-content {
        max-height: 100% !important;
        height: 100% !important;
        width: 100% !important;
        top: 0;
        left: 0;
        margin: 0px;
        font-size: 12px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: hidden !important;
        display: block !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: auto !important;
        margin-bottom: 0px !important;
        zoom: 88.3333333%;
    }

    hr {
        display: none;
    }

    .btn-toolbar {
        display: none;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left !important;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666666666666%;
    }

    .col-md-10 {
        width: 83.33333333333334%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666666666666%;
    }

    .col-md-7 {
        width: 58.333333333333336%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666666666667%;
    }

    .col-md-4 {
        width: 33.33333333333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.666666666666664%;
    }

    .col-md-1 {
        width: 8.333333333333332%;
    }

    .col-md-offset-1 {
        width: 16.666666666666664%;
    }

    col-md-offset-3 {
        width: 33.33333333333333%;
    }

    .col-md-offset-4 {
        width: 50%;
    }

    .zoom-out-table {
        zoom: 91.333333333333332%;
    }

    button, input, select, textarea {
        zoom: 92.333333333333332%;
    }

    .centered-row {
        margin-left: 250px;
    }

    div.row {
        white-space: nowrap;
    }
}
