<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form" (ngSubmit)="validasiObats()" [formGroup]="formObats" autocomplete="off" >
                <fieldset class="form-group">
                    <label>Kode Obat</label>
                    <input class="form-control" placeholder="Kode Obat" id="kdObats" formControlName="kdObats" [ngClass]=" (kdObats.value)?'mandatory-valid': 'mandatory' ">
                    <p class="help-block"></p>
                </fieldset>
           
                <fieldset class="form-group">
                    <label>Nama Obat</label>
                    <input class="form-control" placeholder="Nama Obat" id="namaObats" formControlName="namaObats" [ngClass]=" (kdObats.value)?'mandatory-valid': 'mandatory' ">
                    <p class="help-block"></p>
                </fieldset>
                <div class="form-group">
                    <label>Jenis Obat</label>
                    <select class="form-control" ngFor="" formControlName="jenisObats">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <fieldset class="form-group">
                    <label>Stock</label>
                    <input class="form-control" placeholder="Stock" id="stock" formControlName="stock" [ngClass]=" (stock.value)?'mandatory-valid': 'mandatory' ">
                    <p class="help-block"></p>
                </fieldset>
                <fieldset class="form-group">
                    <label>Harga Beli</label>
                    <input class="form-control" placeholder="Harga Beli" id="hargaBeli" formControlName="hargaBeli" [ngClass]=" (hargaBeli.value)?'mandatory-valid': 'mandatory' ">
                    <p class="help-block"></p>
                </fieldset>
                <fieldset class="form-group">
                    <label>Harga Jual</label>
                    <input class="form-control" placeholder="Harga Jual" id="hargaJual" formControlName="hargaJual" [ngClass]=" (hargaJual.value)?'mandatory-valid': 'mandatory' ">
                    <p class="help-block"></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>