<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
           
            <h1>Klinik Dr ABC</h1>
            <form  [formGroup]="loginForm" novalidate>
                <div class="alert alert-danger container-fluid" role="alert" *ngIf="errMsg.length > 0" id="errorList">
                    <button class="close pull-right" (click)="errMsg = []" type="button" aria-label="Close" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <ul *ngFor="let err of errMsg">
                        <li>{{err}}</li>
                    </ul>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="username" class="form-control input-underline input-lg" id="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
